@font-face {
    font-family: 'Qwitcher Grypen';
    src: url(fonts/Qwitcher_Grypen/QwitcherGrypen-Bold.ttf);
}

body {
    padding-top: 20px;
    background-color: #f8f9fa;
}

.container {
    max-width: 1200px;
}

h1 {
    font-family: 'Qwitcher Grypen';
    font-size: 100px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 40px;
}

.graph-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#sales-graph {
    height: 400px; /* Adjust the height as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6c757d; /* Placeholder text color */
}
